<header>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "Download", download_story_path(@story.id) %>
  </nav>
</header>
<div class="show-container show-story">
  <h1><%= @story.title %></h1>
  <div class="line sixty"></div>
  <p><%= simple_format(@story.body) %></p>
</div>
<footer>
  <a href="https://github.com/nick-brown2014" target="_blank"><%= image_tag "github.png", class: "footer-img" %></a>
  <a href="https://www.linkedin.com/in/nick-brown-b6217888" target="_blank"><%= image_tag "linkedin.png", class: "footer-img" %></a>
  <p class="big">Built with Rails, made fun by jQuery  -  Copyright Nick Brown 2016</p>
  <p class="medium">Built with Rails  -  Copyright Nick Brown 2016</p>
  <p class="small">Copyright Nick Brown 2016</p>
</footer>